.logo-container {
  text-align: center; /* Centra el logo horizontalmente */
}

.logo {
  max-width: 125px; /* Limita el tamaño máximo del logo */
  height: auto; /* Mantiene la proporción */
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.1)); /* Sombra suave */
}

.body-login {
  background-color: hsl(0, 0%, 96%);
  height: 100%;
}

.text-primary-login {
  color: #ff5555;
}

.text-alternativo {
  color: #ff7474b9;
}

.btn-login {
  border: 2px solid #ff5555!important;
  background-color: #fff !important;
  color: #ff5555 !important;
}

.btn-login:hover {
  background-color: #ff5555 !important;
  color: #fff !important;
}
